


/*-----------*/
/*.circle-progress-bar{*/


/*}*/
/*@keyframes spin {*/
    /*0% {*/
        /*transform: rotate(0deg);*/
    /*border: 0px solid seagreen}*/
    /*100% {*/
        /*transform: rotate(270deg);*/
        /*border: 1px solid seagreen;*/
    /*}*/

/*}*/
/*.cpb-line__progress{*/
    /*width: 50px;*/
    /*height: 50px;*/
    /*border-radius: 50px;*/
    /*!*border: 1px solid seagreen;*!*/
    /*animation: spin 2s linear;*/
    /*animation-fill-mode: forwards;*/
/*}*/
svg{
    transform: rotate(-90deg);
    width: 210px;
    height: 210px;
}

.circle-progress-bar--progress {
    animation: dash 0.5s linear alternate;
    /*animation-fill-mode: forwards;*/

}
.circle-progress-bar--progress-55{
    stroke-dasharray: 190% 110%;
    /*animation-fill-mode: forwards;*/
}
.circle-progress-bar--progress-80{
    stroke-dasharray: 250% 110%;
    /*animation-fill-mode: forwards;*/
}

.circle-progress-bar--progress-60{
    stroke-dasharray: 200% 110%;
    /*animation-fill-mode: forwards;*/
}

@keyframes dash {
    0% {
        stroke-dasharray: 10% 360%;
    }
    20% {
        stroke-dasharray: 21% 360%;
    }
    40% {
        stroke-dasharray: 40% 360%;
    }
    60% {
        stroke-dasharray: 60% 360%;
    }
    80% {
        stroke-dasharray: 100% 360%;
    }
    100% {
        stroke-dasharray: 170% 360%;
    }

    /*from {*/
        /*stroke-dashoffset: 0%;*/
    /*}*/
    /*to {*/
        /*stroke-dashoffset: 100%;*/
    /*}*/
}
.circle-progress-bar{
    width: 210px;
    height: 210px;
    display: block;
    position: relative;
}
.circle-progress-bar__value{
    margin: 0;
    position: absolute;
    top: 41%;
    left: 37%;
    /* padding: 0; */
    font-size: 2em;
}
