$main-font-family: 'PT Sans',Arial,sans-serif;
$header-font-family: 'PT Sans Narrow', Arial, sans-serif;
$percentage-font-family: 'HelveticaNeueUltraLight', sans-serif;
$footer-font-family: 'Georgia','PT Serif','Times New Roman',serif;

$header-font-size: 20px;
$header-line-height: 30px;
$header-font-color: #515e72;

$base-font-size: 14px;
$base-font-color: #717f95;

$accent-font-color: #3d9ccc;
$alt-font-color: #96c93c;

$description-font-size: 16px;
$date-font-size: 11px;

$small-width: 480px;
$medium-width: 748px;
$large-width: 1024px;
